In [3]:
import numpy as np 
import pandas as pd

In [4]:
# read and load csv to pandas data frame 
# take out colmumn # with teams
# make a set out of these so that each team name is unique/ occurs only once. 
# make a double for loop for loop 2 x so that each team playes against each other 


match_table = pd.read_csv('SerieA.csv')
match_table

     yyyy-mm-dd  HH:MM       team1     team2  score1  score2
0    2018-08-18  18:00      Chievo  Juventus       2       3
1    2018-08-18  20:30       Lazio    Napoli       1       2
2    2018-08-19  18:00      Torino      Roma       0       1
3    2018-08-19  20:30    Sassuolo     Inter       1       0
4    2018-08-19  20:30       Parma   Udinese       2       2
..          ...    ...         ...       ...     ...     ...
375  2019-05-26  20:30        Roma     Parma       2       1
376  2019-05-26  20:30       Inter    Empoli       2       1
377  2019-05-26  20:30  Fiorentina     Genoa       0       0
378  2019-05-26  20:30    Cagliari   Udinese       1       2
379  2019-05-26  20:30    Atalanta  Sassuolo       3       1

[380 rows x 6 columns]

In [7]:
all_teams = match_table.team1.unique()

len(all_teams)

20

In [15]:
synthetic_match_table = pd.DataFrame(columns=['team1', 'team2', 'result'])

for i in range(len(all_teams)):
    for j in range(i+1, len(all_teams)):
        team1 = all_teams[i]
        team2 = all_teams[j]
        
        if team1 < team2 : 
            match_outcome = 1
        else:
            match_outcome = -1
            
        synthetic_match_table = synthetic_match_table.append({'team1': team1, 'team2':team2, 'result':match_outcome}, ignore_index=True)
        #print(team1, ' - ', team2, ': ', match_outcome)

for i in range(len(all_teams)):
    for j in range(i+1, len(all_teams)):
        team2 = all_teams[i]
        team1 = all_teams[j]
        
        if team1 < team2 : 
            match_outcome = 1
        else:
            match_outcome = -1
            
        synthetic_match_table = synthetic_match_table.append({'team1': team1, 'team2':team2, 'result':match_outcome}, ignore_index=True)
        #print(team1, ' - ', team2, ': ', match_outcome)

In [17]:
synthetic_match_table.to_csv('syntheticSerieA.csv', sep=',', index=False)

In [18]:
true_rank_all_teams = list(all_teams)
true_rank_all_teams.sort()

In [19]:
true_rank_all_teams

['Atalanta',
 'Bologna',
 'Cagliari',
 'Chievo',
 'Empoli',
 'Fiorentina',
 'Frosinone',
 'Genoa',
 'Inter',
 'Juventus',
 'Lazio',
 'Milan',
 'Napoli',
 'Parma',
 'Roma',
 'Sampdoria',
 'Sassuolo',
 'Spal',
 'Torino',
 'Udinese']